@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #6EC1E4;
  --color-secondary: #54595F;
  --color-text: #7A7A7A;
  --color-accent: #61CE70;
  --color-highlight: #FFD43F;
  --font-sans: "Poppins", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

:root,
:root.light {
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #ffffff;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --card-bg: #1c1c1c;
}

@layer utilities {
  .fade-in {
    transition: opacity 0.4s ease;
    opacity: 1;
    @starting-style {
      opacity: 0;
    }
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .text-accent {
    color: var(--color-accent);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}